*{
    margin: 0px;
    padding: 0px;
  
}
body{
    background-color:  #696969; 
}
.one{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 450px;
    height: 650px;
    margin-left: 360px;
    margin-top: 50px;
    background-color: #4a625c;
    padding-left: 30px;
    text-align: left;
    border-radius: 8px;
}
p{
    color: rgb(216, 208, 208);
}
#text{
    color:rgb(11, 11, 11);
    background-color: whitesmoke;
    height: 25px; 
    width: 150px;
    padding-left: 50px;
    border-radius: 8px;
   
}
#text1{
    background-color: whitesmoke;
    width: 350px;
    height: 25px;
    border-radius: 8px;
     text-align: center;

}
#text2{
    background-color: whitesmoke;
    width: 350px;
    height: 25px;
    border-radius: 8px;
    text-align: center;

}
#text3{
    background-color: whitesmoke;
    width: 350px;
    height: 25px;
    border-radius: 8px;
     text-align: center;

}
#message{
    background-color: whitesmoke;
    width: 350px;
    height: 50px;
    
    border-radius: 8px;
}
#text4{
    height: 40px; ;
    width: 10px;
    color: black;
    background-color: #4a625c;
    border: solid 1px whitesmoke;
    border-radius: 8px;
   
}
#five{
    height: 40px; ;
    width: 350px;
    background-color: black;
    color: white;
    border-radius: 8px;
}


 #heading1{
    text-align: center;
}
.verification-box{
    background-color:#4a625c;
    width: 320px;
    height: 28px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: right;
    gap: 250px;
    border: solid 1px white;
}
#six{
    text-align: right;
}
